.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut(1.5s);

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #ffffff;
    @include easeOut(1.5s);
  }

  &.close {
    transform: rotate(180deg);
    .btn-line {
      &:nth-child(1) {
        transform: rotate(180deg);
        background: #008040;
        @include easeOut(1.5s);
      }
    }
  }
}
